{extend name="public/base" /}

{block name="title"}主题市场{/block}

{block name="css"}
<link href="__PUBLIC__/static/inspinia/css/plugins/datapicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="__PUBLIC__/static/inspinia/css/plugins/dropzone/dropzone-4.3.0.min.css" rel="stylesheet">
<style>
    .theme-box {

        width: 100%;
    }
    .theme-body {
        border: 1px solid #e7eaec;
        padding: 0;
        background-color: #fff;

        margin-bottom: 20px;
        margin-right: 20px;
    }
    .theme-image {
        height: 100px;
        overflow: hidden;
    }
    .theme-name {
        padding: 10px;
        background-color: #f8f8f8;
        border-top: 1px solid #e7eaec;
    }
    .theme-name small {
        color: #676a6c;
    }
</style>
{/block}

{block name="main"}
<div class="row">

    <div class="col-sm-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">
                    <h4>前去市场挑选</h4>
                    <div class="hr-line-dashed"></div>
                    <h5>主题分类</h5>
                    <ul class="folder-list" style="padding: 0">
                        <li><a href="javascript:void(0)"><i class="fa fa-folder"></i> Cms(<span class="text-danger">100+</span>)</a>
                        </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-folder"></i> 企业官网(20+)</a>
                        </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-folder"></i> 图片主题(9)</a>
                        </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-folder"></i> 淘宝客(5)</a>
                        </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-folder"></i> 餐饮行业</a>
                        </li>
                        <li><a href="javascript:void(0)"><i class="fa fa-folder"></i> 婚纱摄影</a>
                        </li>
                    </ul>
                    <h5 class="tag-title">适合行业</h5>
                    <ul class="tag-list" style="padding: 0">
                        <li><a href="javascript:void(0)">互联网公司</a>
                        </li>
                        <li><a href="javascript:void(0)">传统企业</a>
                        </li>
                        <li><a href="javascript:void(0)">餐饮行业</a>
                        </li>
                        <li><a href="javascript:void(0)">婚纱摄影</a>
                        </li>
                        <li><a href="javascript:void(0)">学校</a>
                        </li>
                        <li><a href="javascript:void(0)">医院</a>
                        </li>
                        <li><a href="javascript:void(0)">政府</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-9 animated fadeInRight">
        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div class="theme-box">
                    <div class="theme-body">
                        <a href="javascript:void(0)">
                            <span class="corner"></span>

                            <div class="theme-image">
                                <img alt="image" class="img-responsive" src="__PUBLIC__/static/inspinia/img/p1.jpg">
                            </div>
                            <div class="theme-name">
                                经典主题Classic <span>版本：v20200520</span>
                                <br>
                                <small>作者.cattong 最近更新：2014-10-13</small>
                            </div>

                            <div class="m-sm text-right">
                                <a href="#" class="btn btn-sm btn-primary">使用</a>
                                <a href="#" class="btn btn-sm btn-success">安装</a>
                                <a href="#" class="btn btn-sm btn-white">在线演示</a>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="theme-box">
                    <div class="theme-body">
                        <a href="javascript:void(0)">
                            <span class="corner"></span>

                            <div class="theme-image">
                                <img alt="image" class="img-responsive" src="__PUBLIC__/static/inspinia/img/p1.jpg">
                            </div>
                            <div class="theme-name">
                                经典主题Classic <span>版本：v20200520</span>
                                <br>
                                <small>作者.cattong 最近更新：2014-10-13</small>
                            </div>

                            <div class="m-sm text-right">
                                <a href="#" class="btn btn-sm btn-primary">使用</a>
                                <a href="#" class="btn btn-sm btn-success">安装</a>
                                <a href="#" class="btn btn-sm btn-white">在线演示</a>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="theme-box">
                    <div class="theme-body">
                        <a href="javascript:void(0)">
                            <span class="corner"></span>

                            <div class="theme-image">
                                <img alt="image" class="img-responsive" src="__PUBLIC__/static/inspinia/img/p1.jpg">
                            </div>
                            <div class="theme-name">
                                经典主题Classic <span>版本：v20200520</span>
                                <br>
                                <small>作者.cattong 最近更新：2014-10-13</small>
                            </div>

                            <div class="m-sm text-right">
                                <a href="#" class="btn btn-sm btn-primary">使用</a>
                                <a href="#" class="btn btn-sm btn-success">安装</a>
                                <a href="#" class="btn btn-sm btn-white">在线演示</a>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="theme-box">
                    <div class="theme-body">
                        <a href="javascript:void(0)">
                            <span class="corner"></span>

                            <div class="theme-image">
                                <img alt="image" class="img-responsive" src="__PUBLIC__/static/inspinia/img/p1.jpg">
                            </div>
                            <div class="theme-name">
                                经典主题Classic <span>版本：v20200520</span>
                                <br>
                                <small>作者.cattong 最近更新：2014-10-13</small>
                            </div>

                            <div class="m-sm text-right">
                                <a href="#" class="btn btn-sm btn-primary">使用</a>
                                <a href="#" class="btn btn-sm btn-success">安装</a>
                                <a href="#" class="btn btn-sm btn-white">在线演示</a>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="theme-box">
                    <div class="theme-body">
                        <a href="javascript:void(0)">
                            <span class="corner"></span>

                            <div class="theme-image">
                                <img alt="image" class="img-responsive" src="__PUBLIC__/static/inspinia/img/p1.jpg">
                            </div>
                            <div class="theme-name">
                                经典主题Classic <span>版本：v20200520</span>
                                <br>
                                <small>作者.cattong 最近更新：2014-10-13</small>
                            </div>

                            <div class="m-sm text-right">
                                <a href="#" class="btn btn-sm btn-primary">使用</a>
                                <a href="#" class="btn btn-sm btn-success">安装</a>
                                <a href="#" class="btn btn-sm btn-white">在线演示</a>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="theme-box">
                    <div class="theme-body">
                        <a href="javascript:void(0)">
                            <span class="corner"></span>

                            <div class="theme-image">
                                <img alt="image" class="img-responsive" src="__PUBLIC__/static/inspinia/img/p1.jpg">
                            </div>
                            <div class="theme-name">
                                经典主题Classic <span>版本：v20200520</span>
                                <br>
                                <small>作者.cattong 最近更新：2014-10-13</small>
                            </div>

                            <div class="m-sm text-right">
                                <a href="#" class="btn btn-sm btn-primary">使用</a>
                                <a href="#" class="btn btn-sm btn-success">安装</a>
                                <a href="#" class="btn btn-sm btn-white">在线演示</a>
                            </div>
                        </a>

                    </div>
                </div>
            </div>



        </div>

    </div>

</div>


{/block}

{block name="js"}

{/block}