
#创建项目
composer create-project topthink/think Cms

#更新框架
composer update topthink/framework 5.1.x

#验证码
composer require topthink/think-captcha 2.x

#图像操作
composer require topthink/think-image

#时间库
composer require topthink/think-helper

#auth库
composer require cattong/think-auth

#消息queue库
composer require topthink/think-queue

#邮件库
composer require cattong/think-mailer

#addons库
composer require cattong/think-addons

#querylist库
composer require jaeger/querylist

#oss 默认不安排
composer require youyiio/think-oss
  #内部已依赖
  >composer require aliyuncs/oss-sdk-php
  >composer require qiniu/php-sdk

#swoole 默认不安装
composer require topthink/think-swoole v2.0.17
  注意:swoole的Application需要继承\app\common\thinkphp\App

#控制台常用操作
>composer update  //整体依赖库更新
>composer update xxx/xxx //建议指定具体的依赖库
>composer update xxx/xxx v1.7.0 //指定具体版本的依赖库，^1.7.0=>大于1.7.0版本，
>php think version //查看tp版本


#####Beyongx########
>composer require overtrue/wechat:~4.0