{extend name="public/base" /}
{block name="title"}title{/block}
{block name="css"}

{/block}
{block name="main"}
<div class="row border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>任务管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:url('Task/index')}">任务管理</a>
            </li>
            <li class="active">
                <strong>查看任务</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>文章列表 </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{:url('Article/addArticle')}">新增文章</a></li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="padding:10px">
                <div class="table-responsive">

                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}

{/block}