{extend name="public/base" /}
{block name="title"}新增管理员{/block}
{block name="css"}{/block}
{block name="main"}

<div class="row border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>权限控制</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{:url('Rule/userList')}">管理员列表</a>
            </li>
            <li class="active">
                <strong>新增管理员</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>新增管理员</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal ajax-form" method="post">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">分组</label>
                        <div class="col-lg-10">
                            <div class="checkbox">
                                {volist name="data" id="vo"}
                                <label><input type="checkbox" name="role_ids[]" value="{$vo.id}"> {$vo.title}</label>
                                {/volist}
                            </div>
                            <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">昵称</label>
                        <div class="col-lg-10"><input type="text" name="username" placeholder="昵称" class="form-control" autocomplete="off"> <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">邮箱</label>
                        <div class="col-lg-10"><input type="text" name="email" placeholder="邮箱" class="form-control"> <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">初始密码</label>
                        <div class="col-lg-10"><input type="text" name="password" placeholder="登录密码" class="form-control" autocomplete="off"> <span class="help-block m-b-none"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">状态</label>
                        <div class="col-lg-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="status" id="status" value="1" checked>
                                    允许登录
                                </label>
                                <label>
                                    <input type="radio" name="status" id="status" value="0">
                                    禁止登录
                                </label>
                            </div>
                            <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-sm btn-white" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}{/block}