<div class="vertical-timeline-block">
    <div class="vertical-timeline-icon lazur-bg">
        <i class="fa fa-coffee"></i>
    </div>

    <div class="vertical-timeline-content">
        <h2>用户动态</h2>
        <ul class="list-unstyled file-list">
            <li class="text-success">11/28 12:38 <span clsss="label label-success">+15</span> - 完成任务获得积分！</li>
            <li class="text-success">11/28 12:37 <span clsss="label label-success">+4</span> - 完成任务获得积分！</li>
            <li class="text-success">11/28 12:37 <span clsss="label label-success">+14</span> - 完成任务获得积分！</li>
            <li class="text-success">11/28 12:37 <span clsss="label label-success">+15</span> - 完成任务获得积分！</li>
        </ul>
        <a class="btn btn-info btn-sm" href="#">更多</a>
    </div>
</div>